/* General Styles */
a
{
    color: #ffffff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
  }
  
  /* Container */
  .container {
    display: flex;
    width: 100%;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #146493;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .sidebar h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Content */
  .content {
    margin-left: 270px;
    width: calc(100% - 270px);
    padding: 20px;
  }
  
  /* Navbar */
  .navbar {
    background-color: #f8f9fc;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    float: left;
    width: 92.5%;
  }

  
  .navbar a {
    text-decoration: none;
    color: #146493;
    font-weight: bold;
    padding: 10px;
  }

  
  .navbar a:hover {
    color: #74bc44;
  }
  
  /* Main Content */
  .main-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .main-content h1 {
    font-size: 24px;
  }
  
  .main-content p {
    font-size: 16px;
  }
  
  /* Button */
  .start-btn {
    background-color: #74bc44;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .start-btn:hover {
    background-color: #74bc44;
  }
  /* Logo */
.logo {
    display: block;
    width: 150px; /* Adjust size as needed */
    margin: 0 auto 20px auto; /* Center logo and add spacing */
    padding: 10px;
  }
  .link {
    padding: 20px 20px 20px 20px;

  }

  .dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.dropdown-btn:hover {
  color: #f1f1f1;
}
.report-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #146493;
}